@import '../../style/main';

.main-page {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__about {
		padding: 35px 0;

		h1 {
			margin-bottom: 27px;
		}

		p {
			margin-bottom: 27px;
			text-align: center;
		}

		blockquote {
			margin-bottom: 35px;
		}
	}

	&__image {
		height: 309px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__new-courses {
		padding: 50px 0;

		> p {
			margin-bottom: 44px;
		}
	}

	&__hardest-tests {
		> p {
			margin-bottom: 44px;
		}

		&__grid {
			display: flex;
		}
	}
}

.contacts {
	margin-top: 60px;
	margin-bottom: 76px;

	.soc {
		display: flex;

		.socLogo {
			margin-right: 74px;

			svg {
				width: 80px;
				height: 80px;
			}

			&:hover {
				fill: @main-active;
				cursor: pointer;
			}
		}


		.tgLogo {
			fill: #00c4ff;
		}

		.vkLogo {
			fill: #41adff;
		}

		.ytLogo {
			margin-right: 0;
			fill: red;
		}
	}
}
