@import '../../style/main';

.course-card {
	display: flex;
	justify-content: flex-start;
	border-radius: 10px;
	padding: 15px 25px;
	box-shadow: @default-shadow;
	background-color: @main-light;

	@media @mobile {
		flex-direction: column;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-right: 36px;

		@media @mobile {
			justify-content: center;
			margin-right: 0;
		}

		.stars {
			display: flex;
			justify-content: space-between;
			margin-bottom: 18px;
			width: 100%;
			overflow: initial !important;

			@media @mobile {
				margin-bottom: 10px;
			}

			span {
				z-index: 0;
				font-size: 44px !important;
			}
		}

		img {
			border-radius: 10px;
			width: 240px;
			height: 100%;

			@media @mobile {
				width: 100%;
				height: 200px;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: left;

		.important {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.link {
			margin-bottom: 25px;

			@media @mobile {
				margin-bottom: 10px;
			}
		}

		&__buttons,
		&__topics,
		&__params {
			display: flex;
			flex-wrap: wrap;

			div,
			button {
				margin-right: 20px;
				margin-bottom: 20px;

				@media @mobile {
					margin-bottom: 10px;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__description {
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;

			@media @mobile {
				-webkit-line-clamp: 3;
			}
		}
	}
}
