.admin-page {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form {
		display: flex;
		flex-direction: column;
		min-width: 600px;
		width: 100%;

		input,
		button,
		textarea {
			margin-bottom: 10px;
		}

		div {
			margin-bottom: 20px;
		}
	}

	&__topic__grid {
		display: flex;
		flex-wrap: wrap;

		.tag {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}
